*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D5DB;
}

/* for animating the user form */
.myLabel{
}
input:focus~label,
input:valid~label{
    top: -12px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
    background-color: #E5E7EB;
    font-size: 14px;
    color: rgba(228, 149, 1, 0.97);
}


/* customizing the scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }